<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Your Post</title>
  </head>
  <body>
    <h3>Edit Your Chat: <%=chat._id%></h3>
    <p>This chat was sent from <b><%=chat.form%> </b>to <%= chat.to%></p>

    <form action="">
      <textarea name="msg" rows="5" cols="10"><b><%=chat.msg%> </b></textarea>
      <button>Edit</button>
    </form>
  </body>
</html>
