<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini WhatsApp</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h3>All Chats!</h3>

    <% if (Chats.length === 0) { %>
    <p>No chats available.</p>
    <% } else { %> <% for (let chat of Chats) { %>
    <div class="chat">
      <p><strong>From:</strong> <%= chat.from %></p>

      <div class="msg">
        <p><%= chat.msg %></p>
      </div>

      <p><strong>Received by:</strong> <%= chat.to %></p>
      <hr />
    </div>
    <% } %> <% } %>
  </body>
</html>
